.firetile {
    background:#000 url('../img/Firefortile.gif') top left;
    background-color: transparent;
    min-height: 103px;
}

.margintop-50 {
    margin-top: -50px;
}

.flip {
    transform: scaleX(-1);
}