.firetile {
    background:#000 url('../img/Firefortile.gif') top left;
    background-color: transparent;
    min-height: 103px;
}

.margintop-50 {
    margin-top: -50px;
}

.margintop-30 {
    margin-top: -30px;
}

.mh-100 {
    max-height: 100%;
}

.flip {
    transform: scaleX(-1);
}
